@media only screen and (max-width: 903px) {
    .site-header {
        display: block;
        text-align: -webkit-center;
    }
    .site-header .site-title {
        display: block;
        width: 80%;
        margin-bottom: 15px;
    }
    .site-title h1 a {
        font-size: 40px;
    }
    .site-header .search-bar {
        display: inline;
    }
    .search-bar form input {
        display: inline;
        padding: 5px 10px;
        font-size: 14px;
    }
    .search-bar form .btn {
        display: inline;
        padding: 5px 10px;
        font-size: 14px;
    }
    /* Navigation CSS Start Here */
    .menu-toggle {
        user-select: none;
        display: block;
        font-size: 30px;
        text-align: center;
        margin: auto;
        cursor: pointer;
    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
    }
    .menu-toggle.active::before {
        content: '\f00d';
    }
    .navigation {
        display: none;
    }
    .navigation.active {
        display: block;
    }
    .navigation.active ul {
        display: block;
    }
    .navigation ul li a {
        padding: 15px 24.8px 15px 24px;
        font-size: 16px;
    }
    .navigation ul li a:hover {
        padding-left: 47px;
    }
    /* Site-Inner CSS Start Here */
    .site-inner {
        display: block;
    }
    .content-sidebar {
        display: block;
        width: 100%;
    }
    .post .movie-title h1 a {
        font-size: 16px;
        padding: 15px 10px 15px 35px;
    }
    
    .post .movie-title h1 a:hover {
        padding: 15px 45px 15px 35px;
        }


    .widget-sidebar {
        width: 100%;
    }
}

@media only screen and (max-width: 585px) {
    .site-header .site-title {
        display: block;
        width: 100%;
    }
    .site-title h1 a {
        font-size: 28px;
    }
    .site-header .search-bar {
        width: 100%;
        display: block;
    }
    .search-bar form input {
        display: block;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .search-bar form .btn {
        display: block;
        font-size: 13px;
    }
    /* Navigation CSS Start Here */
    .navigation ul li a {
        font-size: 14px;
    }
    .navigation ul li a:hover {
        padding-left: 40px;
    }
    /* Site-Inner CSS Start Here */
    .content .post {
        width: 100%;
    }
    .post .movie-title h1 a {
        font-size: 12px;
        padding: 15px 10px 15px 25px;
    }
    .post .movie-title h1 a:hover {
        padding: 15px 35px 15px 25px;  
      }
}